head
	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	if(head)
		meta(name="application-name" content="falala")
		meta(name="keywords" content="#{head.keywords}")
		meta(name="description" content="#{head.description}")
		meta(name="subject" content="Classical Music")
		meta(name="robots" content="index,follow,noodp")
		meta(name="googlebot" content="index,follow")
		meta(name="google" content="nositelinkssearchbox")
		meta(name="google-site-verification" content="verification_token")
		meta(name="abstract" content="#{head.description}")
		meta(name="topic" content="#{head.description}")
		meta(name="summary" content="#{head.description}")
		meta(name="classification" content="business")
		meta(name="url" content="#{head.url}")
		meta(name="identifier-URL" content="#{head.url}")
		meta(name="directory" content="submission")
		meta(name="category" content="")
		meta(name="coverage" content="Worldwide")
		meta(name="distribution" content="Global")
		meta(name="rating" content="General")
		meta(name="referrer" content="never")
		//meta(http-equiv="Content-Security-Policy" content="default-src 'self'")
		title #{head.title}
	if(!head)
		meta(name="application-name" content="falala")
		meta(name="keywords" content="Classical Music")
		meta(name="description" content="Classical Music")
		meta(name="subject" content="Classical Music")
		meta(name="robots" content="index,follow,noodp")
		meta(name="googlebot" content="index,follow")
		meta(name="google" content="nositelinkssearchbox")
		meta(name="google-site-verification" content="verification_token")
		meta(name="abstract" content="Classical Music")
		meta(name="topic" content="Classical Music")
		meta(name="summary" content="Classical Music")
		meta(name="classification" content="business")
		meta(name="directory" content="submission")
		meta(name="category" content="")
		meta(name="coverage" content="Worldwide")
		meta(name="distribution" content="Global")
		meta(name="rating" content="General")
		meta(name="referrer" content="never")
		//meta(http-equiv="Content-Security-Policy" content="default-src 'self'")
		title falala | Discover Classical

	script(src='//use.typekit.net/upb2ayy.js')
	link(rel='stylesheet', href='/css/styles.css')
	link(rel='icon', sizes='64x64', href='/images/logo-64.png')
	script(src='/js/script.js')
	script. //Typekit
		try{Typekit.load();}catch(e){}
	script. //Google Analytics
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-79749524-1', 'auto');
		ga('send', 'pageview');